@model UserProjectsBacked
@{
    ViewData["Title"] = "UserPersonalInfo";
}



<style>
    img {
        width: 80px;
        height: 80px;
    }

    h2 {
        font: Rockwell;
    }
</style>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile-tab-area" role="tab" aria-controls="profile-tab-area" aria-selected="false">
            Profile Page
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="myprojects-tab" data-toggle="tab" href="#myprojects-tab-area" role="tab" aria-controls="myprojects-area" aria-selected="false">MyProjects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact" aria-selected="false">Funded Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact" aria-selected="false">Delete Profile</a>
    </li>
</ul>
<!-- Tab area -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile-tab-area" role="tabpanel" aria-labelledby="Profile">

        <form id="profile-form" class="profile page" method="post">
            <br />
            <img src="~/css/content.jpg" alt="Not Found" />
            <div class="form-group">
                <label for="Id">Unique Id</label>
                <input name="Id" placeholder=""
                       class="form-control" value="@Model.User.UserId">
            </div>
            <div class="form-group">
                <label for="userName">UserName</label>
                <input name="userName" placeholder=""
                       class="form-control" value="@Model.User.UserName">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" value="@Model.User.Email">
            </div>
            <button type="button" class="btn btn-primary js-submit-profile-btn">Submit</button>
        </form>

    </div>
    <div class="tab-pane fade" id="myprojects-tab-area" role="tabpanel" aria-labelledby="my projects">
        @foreach (var p in Model.ProjectsBacked)
        {
            <ul>
                <li>@p.Description</li>
            </ul>
        }
    </div>
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">
        tab content 3
    </div>
</div>


