body {
    background-color: #eeeeee;
}

#Browsing {
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    font-size: 25px;
}

#kickstarter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center
}

#home-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.navbar navbar-light {
    color: #fdb813;
}

li {
    border-radius: 12px;
}

    li:hover {
        background-color: white;
    }

.gallery {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    border-radius: 3px;
}

    .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease;
    }

    .gallery .animation {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

