/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fab414;
    background-color: #083f88;
    /*border-color: #083f88;*/
}
/*pledge card*/
.fix-from-css {
    border-color: #083f88;
    max-width: 15rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*header*/



.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; 
  text-align:center;
  background-color:whitesmoke;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#header {
    text-shadow: 0 0 3px #0000FF, 0 0 5px #0000FF;
    font-size: 50px;
    border-bottom: double;
}

.trending {
    text-align: center;
}

/* ALERTS */

.js-login-fail-alert {
    display: none;
}

.js-project-create-success-alert {
    display: none;
}
.js-project-create-fail-alert {
    display: none;
}

.js-reward-create-success-alert{
    display:none;
}
.js-reward-create-fail-alert{
    display:none;
}

.js-media-create-success-alert {
    display: none;
}
.js-media-create-fail-alert {
    display: none;
}

.js-statusUpdate-create-success-alert {
    display: none;
}

.js-statusUpdate-create-fail-alert {
    display: none;
}

.js-statusUpdate-update-success-alert {
    display: none;
}

.js-statusUpdate-update-fail-alert {
    display: none;
}

.user-login {
    display: none;
}

.js-user-create-success-alert { 
    display: none;
}

.js-user-create-fail-alert {
    display: none;
}

/* Validation Animations*/
.field-validation-error {
    color: red;
}

.input-validation-error {
    border-color: red;
   
   
}

.valid {
    color: green;
    border-color:green;
    
}

/*content: "\f153";
font-family: FontAwesome;*/



.js-user-navbar{
    display:none;
}

.js-must-login-first{
    display:none;
}

.js-create-project-form{
    display:none;
}

.creator-hidden-items{
    display:none;
}


/* CARDS */
/*.general-card-spacing-css {
    margin-right: 6rem;
}*/
.fix-the-bot-of-card {
    height: 1.875rem;
    margin-bottom: 1rem;
}
.fix-the-bot-card {
    margin-top: 1.75rem;
}
.general-card-css {
    width: 15rem;
    /*margin-right:3rem;*/
    margin-bottom: 2rem;
    /*height:auto;*/
}
.card-title.general-css {
    color: #083f88;
}
.card-text.general-css {
    color: darkred;
}
.card-body.general-css {
    background-color:#fff;
}
.card-img-top.general-css {
    width: 100%;
    height: 192px;
    object-fit: cover;
}
.progress {
    margin-bottom: 1.125rem;
}
.progress-bar.general-css {
    background-color: #fab414;
    color: #083f88;
}
.jumbotron{
    background-color:whitesmoke;
}
.form-group {
    width:70%
}

.carousel-control-next-icon {
    filter: invert(13%) sepia(27%) saturate(5045%) hue-rotate(347deg) brightness(99%) contrast(98%);
}

.carousel-control-prev-icon {
    filter: invert(13%) sepia(27%) saturate(5045%) hue-rotate(347deg) brightness(99%) contrast(98%);
}