@{
    ViewData["Title"] = "Home Page";
}



<style>
    #header {
        text-shadow: 0 0 3px #0000FF, 0 0 5px #0000FF;
        font-size: 50px;
        border-bottom: double;
    }
</style>
@*<script src="~/js/mynewfile.js" asp-append-version="true"></script>*@

<div class="alert alert-success js-success-alert" role="alert">
</div>




<div class="text-center">
    <h2 id="header">We #Follow Your Dream</h2>
    <br />
    <br />
    <p style="text-align: center;
            color: goldenrod;
            font-weight: bold; font-size:25px">Start your Project</p>
    </div>

 <img src="~/css/fund.png" id="home-image" alt="fund" width="300" height="250"><br /><br />
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 d-flex justify-content-center mb-5">

                </div>
                <!-- Grid column -->

            </div>
            <p id="Browsing">Trending Projects</p>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="gallery" id="gallery">

                <!-- Grid column -->
                <div class="mb-3 pics animation all 2">
                    <img src="~/css/kick2.jpg" alt="Girl in a jacket" width="150" height="150">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img src="~/css/kick1.png" alt="Girl in a jacket" width="150" height="150">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img src="~/css/kick3.png" alt="Girl in a jacket" width="150" height="150">
                </div>
                <div class="mb-3 pics animation all 1">
                    <img src="~/css/kick4.jpg" alt="Girl in a jacket" width="150" height="150">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="mb-3 pics animation all 1">
                    <img src="~/css/kick5.png" alt="Girl in a jacket" width="150" height="150">
                </div>
            </div>
            <!-- Grid row -->
