@{
    ViewData["Title"] = "Home Page";
}



<style>
    #header {
        text-shadow: 0 0 3px #0000FF, 0 0 5px #0000FF;
        font-size: 50px;
        border-bottom: double;
    }
</style>

<div class="alert alert-success js-success-alert" role="alert">
</div>




<div class="text-center">
    <h2 id="header">We #Follow Your Dream</h2>
    <br />
    <br />
    <p style="text-align: center;
            color: goldenrod;
            font-weight: bold; font-size:25px">Start your Project</ptext-align:>
</div>


