@model Crowdfund.Core.Services.Options.CreateUserOptions
@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>


<form method="post" class="js-login-form">

    <br />

    <!-- Firstname-->
    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" name="userName" placeholder="Enter your User Name"
               class="js-userName form-control"/>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary js-login-button">
        Submit
    </button>

    <div class="alert alert-danger js-login-fail-alert" role="alert">
    </div>



</form>

<h2>Create Account</h2>

<form method="post" class="js-create-account-form">
    <!-- Create User Form-->
    <div class="second-login-form-group-username">
        <label for="createUserName">UserName</label>
        <input name="userName" placeholder="Enter your User Name"
               class="js-create-userName form-control" />
    </div>

    <div class="second-login-form-group-email">
        <label for="createEmail">Email</label>
        <input name="email" placeholder="Enter your Email"
               class="js-create-email form-control" />
    </div>
    <button type="submit" class="btn btn-primary js-create-user-button">
        Create
    </button>


    <div class="alert alert-success js-user-create-success-alert" role="alert">
    </div>

    <div class="alert alert-danger js-user-create-fail-alert" role="alert">
        
    </div>
</form>

    @section Scripts {
        <script src="~/js/loginAndOut.js" asp-append-version="true"></script>
        <script src="~/js/CreateUser.js" asp-append-version="true"></script>
    }
