
@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>


<form method="post" class="js-login-form">

    <br />

    <!-- Firstname-->
    <div class="form-group">
        <label for="userName">User Name</label>
        <input name="userName" placeholder="Enter your UserName"
               class="js-userName form-control" />
    </div>

    <!-- Submit -->
    <button type="button" class="btn btn-primary js-login-button">
        Submit
    </button>

    <div class="alert alert-danger js-login-fail-alert" role="alert">
        No Such User Exists
    </div>
    @*<div class="alert alert-danger js-login-first-alert" role="alert">
            You must login first!!!!!
        </div>*@


</form>

@section Scripts {
    <script src="~/js/loginAndOut.js" asp-append-version="true"></script>
}