
@{
    ViewData["Title"] = "LogIn";
}

<h1>Log In</h1>


<form method="post" class="js-login-form">
    
    <br />

    <!-- Firstname-->
    <div class="form-group">
        <label for="userName">User Name</label>
        <input name="userName" placeholder="Enter your UserName"
               class="js-userName form-control" />
    </div>

    <!-- Submit -->
    <button type="button"onclick="login()" class="btn btn-primary js-login-button">  
        Submit
    </button>

    <div class="alert alert-success js-success-alert" role="alert">
    </div>

    <div class="alert alert-danger js-fail-alert" role="alert">
        No Such User Exists
    </div>


</form>

<script>
    function login()
    {
        let successAlert = $('.js-success-alert');
        successAlert.hide();

        let failedAlert = $('.js-fail-alert');
        failedAlert.hide();

        let username = $('.js-userName').val();
        let id =
            $.ajax({
                type: 'POST',
                url: '/user',
                contentType: 'application/json',
                data: JSON.stringify(username)             
            }).done(function (data) {
                localStorage.setItem(`userId`, data);
            
                successAlert.html(`User Successfully Logged In`);
                
                successAlert.show();
                
                
                window.location.href = "index";
                //let log = $('.nav - link text - dark');
                //log.val() = "True";
            }).fail(failureResponse => {
                failedAlert.show();
                
            });

        

    }

</script>

